<!DOCTYPE html>
<html lang="en">

	<% include ./head %>

	<!-- HEADER
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<body id="home">

		<header>
			<h1><%= title %></h1>
		</header>


		<!-- MAIN
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<main class="container">

			<div class="divider"></div>

			<div class="routes-wrap columns">
				
				<% for (key in routes) { %>

				<div class="routes column col-xs-12 col-md-6 col-lg-3">

					<h3><a href="/<%= key %>">/<%= key %></a></h3>

					<ul class="routes-list">

						<% for (var i = 0; i < routes[key].length; i++) { %>

							<li class="route-item"><a href="<%= routes[key][i] %>"><%= routes[key][i] %></a></li>

						<% } %>

					</ul>

				</div>

				<% } %>

			</div>

			<div class="divider"></div>

		</main>

		<% include ./footer %>

		<!-- SCRIPTS
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<script src="/scripts/jquery.min.js"></script>
		<script>

			$(document).ready(function() {

				// console.log('yo')

			})

		</script>


	</body>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</html>
