<!DOCTYPE html>
<html lang="en">
	<% include ./yts/head %>
	<body>
		<% include ./yts/header %>

		<!-- BODY
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<ul id="list" class="yts-list">
			<% for (var i = 0; i < yts.length; i++) { %>
				<li class="yts-list-item">

					<% if (yts[i].active) { %>
						<div class="vid-wrap active"><iframe width="560" height="315" src="https://www.youtube.com/embed/<%= yts[i].id %>" frameborder="0" allowfullscreen></iframe></div>
					<% } else { %>
						<div class="vid-wrap empty"><div id="player-<%= i %>" data-id="<%= yts[i].id %>"></div></div>
					<% } %>

					<div class="title"><a href="<%= yts[i].href %>"><%= yts[i].title %></a></div>
					<div class="stats">
						<span class="duration"><%= yts[i].duration %></span>
						<span class="views"><%= yts[i].views %></span>
						<span class="active">active: 
							<button data-index="<%= i %>" class="active-btn active-btn-<%= yts[i].active %>">
								<%= yts[i].active %>
							</button>
						</span>
						<span class="watched">watched: 
							<button data-index="<%= i %>" class="watched-btn watched-btn-<%= yts[i].watched %>">
								<%= yts[i].watched %>
							</button>
						</span>
					</div>
				</li>
			<% } %>
		</ul>

		<% include ./yts/footer %>

		<!-- SCRIPTS
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<script src="/scripts/jquery.min.js"></script>
		<script>

			$(document).ready(function() {

				// EVENT HANDLING
				// -------------------------------------------------------------- //
				let vWraps = document.getElementsByClassName('vid-wrap'); 

				document.getElementById('list').addEventListener('click', function(e) {

					if (e.target && e.target.nodeName == "BUTTON") {

						let watchedBtn, activeBtn;
							watchedBtn = $(e.target).hasClass('watched-btn')
							activeBtn = $(e.target).hasClass('active-btn')

						if (watchedBtn && !activeBtn) {
							watchedBtnListener(e)
						} else if (!watchedBtn && activeBtn) {
							activeBtnListener(e)
						}

					}

				})

				// AJAX STUFF
				function activeBtnListener(e) {
					idx = parseInt(e.target.getAttribute('data-index'));

					$.ajax({
						url: "http://localhost:3000/api/<%= channel %>/active/"+idx,
						dataType: 'jsonp',
						context: document.body
					}).done((res) => (res.status === 200)? activeDOMSwitch(e) : alert("ERROR: Refresh Page") );
				}

				function watchedBtnListener(e) {
					idx = parseInt(e.target.getAttribute('data-index'));

					$.ajax({
						url: "http://localhost:3000/api/<%= channel %>/watched/"+idx,
						dataType: 'jsonp',
						context: document.body
					}).done((res) => (res.status === 200)? watchedDOMSwitch(e) : alert("ERROR: Refresh Page") );
				}

				// Active DOM manipulation stuff
				function activeDOMSwitch(e) {

					selected = vWraps[e.target.getAttribute('data-index')];

					if ($(selected).hasClass('active') && !$(selected).hasClass('empty')) {
						$(selected).removeClass('active')
						$(e.target).removeClass('active-btn-true').addClass('active-btn-false').html("false");

					} else if (!$(selected).hasClass('active') && !$(selected).hasClass('empty')) {
						$(selected).addClass('active')
						$(e.target).removeClass('active-btn-false').addClass('active-btn-true').html("true");

					} else if (!$(selected).hasClass('active') && $(selected).hasClass('empty')) {
						$(selected).removeClass('empty').addClass('active')
						$(e.target).removeClass('active-btn-false').addClass('active-btn-true').html("true");

					}

				}

				// Watched DOM manipulation stuff
				function watchedDOMSwitch(e) {

					if ($(e.target).hasClass('watched-btn-true')) {
						$(e.target).removeClass('watched-btn-true').addClass('watched-btn-false').html("false")
					} else if ($(e.target).hasClass('watched-btn-false')) {
						$(e.target).removeClass('watched-btn-false').addClass('watched-btn-true').html("true")
					}

				}

			})

		</script>


	</body>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</html>